    /* Main content */
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .font {
        font-family: "Reem Kufi Fun", sans-serif;
    }

    main {
        flex: 1;
    }

    .main-content {
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        padding: 20px;
    }

    ion-icon {
        font-size: 24px;
        color: black;
    }

    ion-icon:hover {
        color: rgba(0, 0, 255, 0.5);
    }

    /**/
    /* Header */
    /**/
    .header {
        width: 100%;
        background-color: #e0e0e06c;
        padding: 10px 10px;
        color: #fff;
        position: fixed;
    }

    .header_logo {
        max-width: 20%;
    }

    .logo {
        height: 48px;
    }

    .header_profile {
        color: black
    }

    .header_text:hover {
        color: rgba(0, 0, 255, 0.5);
    }

    .header_nav {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;

    }

    .header_nav_title {
        margin: 0 20px;
    }

    .header_nav a {

        color: black;
        text-decoration: none;
    }

    /* header_nav line style */
    .header_nav li::after {
        content: '';
        display: block;
        width: 80%;
        height: 3px;
        border-radius: 10px;
        margin: auto;
        background-color: rgba(0, 0, 255, 0.5);
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.2s;
    }

    .header_nav li:hover::after {
        transform: scaleX(1);
        /* Al pasar el ratón, la línea se expande horizontalmente */
    }

    /**/
    /* Footer */
    /**/

    .footer_container_up {
        background-color: #e0e0e06c;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 10px;
        margin-top: 25px;
    }

    .footer_icons ion-icon {
        margin: 0 10px;

    }

    .left_line,
    .right_line {
        flex-grow: 1;
        height: 1px;
        background-color: rgb(199, 199, 199);
    }

    .footer_container_up div {
        display: flex;
        flex-direction: row;
        margin: 10px;
        color: rgb(68, 68, 68);
    }

    .footer_container_up div ion-icon {
        padding: 5px;
    }

    .footer_container_down {
        background-color: #e0e0e06c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }

    .footer_container_down div {
        padding: 5px;
    }

    .footer_text_copy {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer_text_copy p {
        margin-bottom: 0px;
    }

    .footer_text_links {
        width: 28%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer_text_links div a {

        color: black;
    }

    .link_privacity a:hover,
    .link_legal a:hover {
        color: rgba(0, 0, 255, 0.5);
    }

    /**/
    /* Home page */
    /**/

    .welcome_container {
        margin-top: 58px;
    }

    .img_text {
        width: 800px;
        display: flex;
        align-items: center;
    }

    .row1 {
        margin-top: 75px;
    }

    .item1 {
        width: 50%;
    }

    .item1 img {
        width: 100%;
        border-radius: 10px;
    }

    .item2 {
        height: 100%;
        padding: 25px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .joinus_item2 {
        height: 100%;
        padding: 25px;
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .joinus_card {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    /**/
    /* User profile page */
    /**/

    .btn_user_profile ion-icon {
        margin: 75px 0px 0px 20px;
    }

    .user_profile_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user_list {
        margin: 20px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    /**/
    /* Bookings day page */
    /**/


    .card_container {
        margin: auto;
        width: 75%;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .prices {
        margin: auto;
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 40px;
        width: 500px;
    }

    .price1,
    .price2 {
        color: white;
        font-family: "Reem Kufi Fun", sans-serif;
        background: linear-gradient(to right, #b3e0ff, #0077b3);
    }

    .price1 img,
    .price2 img {
        width: 75px;
        border-radius: 20px;
    }

    .prices_card {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }

    .parking_card_page {
        overflow: auto;
        color: rgba(128, 128, 128, 0.785);
        width: 275px;
        height: 240px;
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        background: #b1e5ff85;
        box-shadow: 3px 3px 5px rgba(6, 126, 186, 0.2);
    }

    .parking_card {
        width: 30%;
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        border: solid 1px rgba(128, 128, 128, 0.26);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    /**/
    /* Bookings day page */
    /* PArking sheet */
    /**/

    .parking_sheet_container {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 65px;
        margin: auto;

    }

    .general {
        padding: 30px;
        width: 100%;
    }

    .general h5,
    h3 {
        text-align: center;
        margin-bottom: 25px;
    }

    .parking_card img {
        width: 250px;
        float: center;
    }

    .parking_card_row1 {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        width: 80%;
        color: rgb(133, 133, 133);
        display: flex;
        flex-direction: row;

    }

    .parking_card_block1 {
        margin-right: 50px;
        width: 100;
    }


    .parking_card_row2 {
        margin: auto;
        margin-bottom: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .parking_card_row3 {
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .block2 {
        text-align: center;
    }

    .booking_card label {
        padding: 10px;
    }

    /**/
    /* User profile page */
    /**/

    .user_title {
        font-family: "Reem Kufi Fun", sans-serif;
        margin-bottom: 10px;

    }

    .user_card {
        width: 100%;
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        border: solid 1px rgba(128, 128, 128, 0.26);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        /* offsetX, offsetY, blurRadius, color */
    }

    .vehicle_card {
        width: 100%;
        padding: 10px;
        margin: 15px 0 15px 0;
        box-sizing: border-box;
        border: solid 1px rgba(128, 128, 128, 0.26);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        /* offsetX, offsetY, blurRadius, color */
    }

    .vehicle_form {
        margin: 10px;
    }

    .vehicle_list {
        color: grey;
        width: 95%;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .booking_list {
        color: grey;
        width: 95%;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }